.search-form {
  margin: 20px 0;
}

.hero-unit {
  position: relative;
  padding: 20px 10px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
  border-bottom: none;
  margin-top: -20px;
  .page-title {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -1px;
  }
  .page-logo {
    width: 30%;
  }
}

.empty-row {
  vertical-align: middle;
  text-align: center;
}